# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env.*

# Selenium / WebDriver
chromedriver*
geckodriver*
msedgedriver*

# Logs & outputs
*.log
*.csv
*.json

# OS files
.DS_Store
Thumbs.db
